.seccion1 {
  width: 100%;
  background-color: #242424;
}
.title-movies-enl{
  padding: 10px;
  text-align: center;
  color: #ffffff;
}
.seccion {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 20px;
}
.title-movies {
  padding: 15px;
  margin-left: 50px;
  user-select: none;
  color: #fff;
}
.seccion2 {
  overflow-x: auto;
  width: 100%;
  padding: 25px;
  display: flex;
  gap: 15px;
  background-color: #646464;
}

.card-movie{
    width: 300px;
    height: 450px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}
.card-container{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: #0000009f;
    padding: 10px;
    display: grid;
    gap: 10px;
}
.card-button{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    border: none;
    outline: none;
    background-color:#007bff;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}